/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: rgba(251, 247, 244, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background 0.3s ease;
}


.header-left,
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn-back {
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.header-btn-profile {
    border: none;
    background: #839E88;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(131, 158, 136, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-btn-back:hover,
.header-btn-profile:hover {
    transform: scale(1.1);
}

.header-btn-back svg,
.header-btn-profile svg {
    display: block !important;
    width: 24px;
    height: 24px;
}






.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icon {
    font-size: 24px;
}

.logo-text {
    font-weight: 700;
    font-size: 20px;
    color: #3B3B3B;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}